@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import './styles/variables.css';

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background: var(--background);
  color: var(--text-primary);
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
